manifest {
    name = 'phylloscopus-ortholog-pipeline'
    author = 'OpenAI Codex'
    homePage = 'https://github.com/example/phylloscopus-ortholog-pipeline'
    description = 'Tiered ortholog recovery scaffold for Phylloscopus.'
    version = '0.1.0'
    nextflowVersion = '!>=23.10.0'
}

params {
    species_manifest = "${projectDir}/examples/species_manifest.tsv"
    ortholog_targets = "${projectDir}/examples/ortholog_targets.tsv"
    reference_manifest = "${projectDir}/examples/reference_manifest.tsv"
    outdir = "${projectDir}/results"
    publish_mode = 'copy'
    execution_mode = 'stub'
    tier_ab_mode = 'scaffold'
    ncbi_api_key = ''
    busco_lineage = ''
    help = false
}

process {
    executor = 'local'
    errorStrategy = 'terminate'
    shell = ['/bin/bash', '-ue']

    withLabel: light {
        cpus = 1
        memory = '1 GB'
        time = '1h'
    }

    withLabel: medium {
        cpus = 4
        memory = '8 GB'
        time = '8h'
    }

    withLabel: heavy {
        cpus = 8
        memory = '32 GB'
        time = '24h'
    }
}

profiles {
    local {
        process.executor = 'local'
    }

    docker {
        docker.enabled = true
    }

    conda {
        conda.enabled = true
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}
